@page "{PageNumber?}"
@model MyKnowledgeManager.Web.Pages.MyKnowledges.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Knowledges";
}

<div class="container-fluid">
    <div class="row my-2">
        <div class="col-lg-10 m-auto">
            <a class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Add" asp-page="./Add">
                <i class="fa-regular fa-square-plus"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="card">
                <div class="card-header">
                    @ViewData["Title"]
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped table-hover table-responsive-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Level</th>
                                <th>Importance</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        @if (Model.KnowledgeRecords is not null && Model.KnowledgeRecords.Count is not 0)
                        {
                            int rowNmber = (Model.PageNumber ?? 1 * 10) - 9;
                            <tbody>
                                @for (int i = 0; i < Model.KnowledgeRecords.Count; i++)
                                {
                                    <tr>
                                        <td>@rowNmber</td>
                                        <td>
                                            @Model.KnowledgeRecords[i].Title
                                        </td>
                                        <td>
                                            @if (Model.KnowledgeRecords[i].Description.Length >= 80)
                                            {
                                                @Html.Raw(Model.KnowledgeRecords[i].Description.Substring(0, 80))
                                            }
                                            else
                                            {
                                                @Html.Raw(Model.KnowledgeRecords[i].Description)
                                            }
                                        </td>
                                        <td>
                                            @switch (Model.KnowledgeRecords[i].KnowledgeLevel)
                                            {
                                                case Core.Enums.KnowledgeLevel.Beginner:
                                                    <span class="badge bg-dark">
                                                        @Model.KnowledgeRecords[i].KnowledgeLevel.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeLevel.Intermediate:
                                                    <span class="badge bg-info">
                                                        @Model.KnowledgeRecords[i].KnowledgeLevel.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeLevel.Advanced:
                                                    <span class="badge bg-primary">
                                                        @Model.KnowledgeRecords[i].KnowledgeLevel.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeLevel.Expert:
                                                    <span class="badge bg-success">
                                                        @Model.KnowledgeRecords[i].KnowledgeLevel.GetDisplayName()
                                                    </span>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            @switch (Model.KnowledgeRecords[i].KnowledgeImportance)
                                            {
                                                case Core.Enums.KnowledgeImportance.NotImportant:
                                                    <span class="badge bg-secondary">
                                                        @Model.KnowledgeRecords[i].KnowledgeImportance.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeImportance.Neutral:
                                                    <span class="badge bg-light">
                                                        @Model.KnowledgeRecords[i].KnowledgeImportance.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeImportance.Important:
                                                    <span class="badge bg-warning">
                                                        @Model.KnowledgeRecords[i].KnowledgeImportance.GetDisplayName()
                                                    </span>
                                                    break;
                                                case Core.Enums.KnowledgeImportance.VeryImportant:
                                                    <span class="badge bg-danger">
                                                        @Model.KnowledgeRecords[i].KnowledgeImportance.GetDisplayName()
                                                    </span>
                                                    break;
                                                default:
                                                    <span class="badge bg-primary">
                                                        @Model.KnowledgeRecords[i].KnowledgeImportance.GetDisplayName()
                                                    </span>
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Details" 
                                               asp-page="./Details" asp-route-id="@Model.KnowledgeRecords[i].Id">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-info" data-bs-toggle="tooltip" data-bs-title="Update" 
                                               asp-page="./Update" asp-route-id="@Model.KnowledgeRecords[i].Id">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-title="Delete" 
                                               asp-page="./Delete" asp-route-id="@Model.KnowledgeRecords[i].Id">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                        else
                        {
                            <tbody class="text-center">
                                <tr>
                                    <td colspan="6">There is nothing...</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>
